# Exclude the assets directory
prune docs

# Exclude the data directory
prune data

# Exclude the examples
prune examples

# Exclude the tests
prune tests

# Exclude the .gitignore file
exclude .gitignore

# Exclude the MANIFEST.in file
exclude MANIFEST.in

# Exclude the .coveragerc file
exclude .coveragerc

# Exclude github workflows
prune .github

# Exclude docker
prune docker